.fpbanner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-copy {
    z-index: 100;
    font-family: $Poppins;
    color: $white;

    h1 {
      font-weight: 400;
      text-align: center;
    }
  }
}

.fpsection-one {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.fpcorporate {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include media(">=tablet") {
    grid-template-columns: 1fr 1fr;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 300ms;

    &:hover {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    img {
      max-height: 400px;
      width: 100%;
      object-fit: cover;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      h3,
      h4,
      h5 {
        font-family: $Poppins;
        font-weight: 400;
      }
    }
  }
}
