@import "./mixins";

#cursor-follow {
  @include media(">tablet") {
    background-color: $black;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 1000;
  }

  &.hover-card__white-cursor {
    background-color: $white;
  }
}
