#scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 60px;
  width: 60px;
  background-color: purple;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: orange;
  }

  img {
    height: 30px;
    rotate: 180deg;
  }
}
