.purple-btn {
  --c: purple;
  color: var(--c);
  font-size: 1.6rem;
  border: 0.3rem solid var(--c);
  border-radius: 4rem;
  font-weight: bold;
  padding: 1.2rem 4rem;
  text-align: center;
  width: fit-content;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 1s;
}

.purple-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 1s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.purple-btn:hover {
  color: $white;
}

.purple-btn:hover span {
  transform: translateY(0) scale(2);
}

.purple-btn span:nth-child(1) {
  --n: 1;
}

.purple-btn span:nth-child(2) {
  --n: 2;
}

.purple-btn span:nth-child(3) {
  --n: 3;
}

.purple-btn span:nth-child(4) {
  --n: 4;
}
